*{
    background-color: blanchedalmond;
}

.pageMargin{
    margin-right: 195px;
    margin-left: 195px;

}

#heading{
    color: brown;
}

span, p{
    color: black;
}

#signature{
    float: right;
}

table, th, tr, td{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
}